.container.themed-content
  .row
    .col-lg-12
      .card
        .card-body
          %h1.card-title Scorecard graph
          .form-group
            .row
              .col-lg-3
                %select#scorecardControlType.form-control
                  %option{value: :day} Specify graph...
                  %option{value: :day} Day of week
                  %option{value: :month} Month
                  %option{value: :week} Week
              .col-lg-3
                %select#scorecardControlYear.form-control
                  %option{value: 0} Specify year...
                  %option{value: 2017} 2017
                  %option{value: 2018} 2018
              .col-lg-3
                %select#scorecardControlState.form-control
                  %option{value:0} Specify state...
                  -@states.each do |state|
                    %option{value:state.id}=state.title
              .col-lg-3
                %select#scorecardControlTrack.form-control{'data-store':@tracks.map{|t| [t.title,t.id,t.track_detail.state_id]}}
                  %option{value:0} Specify track...
                  -@tracks.each do |track|
                    %option{value:track.id}=track.title
            %br
            %h3.card-title Check bet types
            .row
              -Scorecard.field_list.each_slice(3).to_a.each do |arr|
                .col-lg-3
                  -arr.each do |title|
                    .form-check
                      %input.form-check-input.scorecardControlBetType{type:'checkbox',name:"scorecardControlType#{title}",id:"scorecardControlType#{title}",checked: true,'data-title':title}
                      %label{for:"scorecardControlType#{title}"}=RacePool.capitalize_special(title)
    .col-lg-12.top-padded
      #scorecardGraph
