.fb-outer
  .fb-middle
    .fb-inner
      =image_tag('logo3.jpg',style:'width:100%;')
      %h3 Login with your social media account
      %a{href:'/users/auth/facebook'}
        %img{src:image_path('fb_login.png'),style:'width:30%;margin-bottom:30px;'}
      %h6 Restricted to 18+ only. IS GAMBLING A PROBLEM FOR YOU? CALL GAMBLING HELP ON 180 0858 858 OR VISIT WWW.GAMBLINGHELPONLINE.ORG.AU
