.container.themed-content
  .row
    .col-lg-12{style:'padding-top:50px;'}
      %h3 Dutch betting - How to
      %p
        Dutch betting is a form of gambling where you spread the risk amongst multiple bets in the same
        event/race. If you have the advantage of knowing the statistical probability of an event you can then
        use the Odds associated with the event to minimise your risk whilst maximising your return.
      %p
        This method does not mean you should increase your frequency of betting, in fact, you should
        reduce because you are effectively playing twice in the same game.
      %h3 How Dutch betting works.
      %p
        Our calculator is limited to 3 selections. We think, based on mathematics, the return on investment
        is improbable if you select more than this amount of runners.
      %p For example, our tips the next race:
      =image_tag('dutch1.png')
      %p
        From your form analysis in the race you agree that the top selection should be the favourite and that
        you agree Jahez and Rispertta also have a chance of winning. You decide your total bet for this race is $100
      %p Enter $100 into the bank, then enter the odd's for each horse into Selection 1,2 and 3 like so;
      =image_tag('dutch2.png')
      %p
        The calculator will prescribe the bet values to place split from your bank so that you can return a
        minimum percentage of not <120% of your original bank. Therefore spreading your risk and
        increasing your probability – $1.5 is better than zero every day of the week.
      %p In the above example for you $100 you would have returned a total of $490.
      %p As a rule of thumb we suggest betting in races where you believe the top chances 3 are not <$5.
