.container.themed-content
  .row
    .col-lg-12{style:'padding-top:50px;'}
      %h3 Betbuilder Privacy policy
      %p
        Betbuilder is committed to providing quality services to you and this policy outlines our ongoing
        obligations to you in respect of how we manage your Personal Information.
      %p
        We have adopted the Australian Privacy Principles (APPs) contained in the Privacy Act 1988 (Cth)
        (the Privacy Act). The NPPs govern the way in which we collect, use, disclose, store, secure and
        dispose of your Personal Information.
      %p
        A copy of the Australian Privacy Principles may be obtained from the website of The Office of the
        Australian Information Commissioner at
        %a{href:'http://www.aoic.gov.au',target:'_blank'} www.aoic.gov.au
      %h3 What is Personal Information and why do we collect it?
      %p
        Personal Information is information or an opinion that identifies an individual. Examples of Personal
        Information we collect include: state location and email addresses.
      %p
        This Personal Information is obtained in multiple ways like Facebook and Google plus sign in or
        manual sign up on entry and is not given to from third parties. We don't guarantee website links or
        policy of authorised third parties.
      %p
        We collect your Personal Information for the primary purpose of providing our services to you,
        providing information to our clients and marketing.
      %p
        When we collect Personal Information we will, where appropriate and where possible, explain to
        you why we are collecting the information and how we plan to use it.
      %h3 Third Parties
      %p Where reasonable and practicable to do so, we will collect your Personal Information only from you.
      %p
        However, in some circumstances we may be provided with information by third parties. In such a
        case we will take reasonable steps to ensure that you are made aware of the information provided
        to us by the third party.
      %h3 Disclosure of Personal Information
      %p Your Personal Information may be disclosed in a number of circumstances including the following:
      %ul
        %li Third parties where you consent to the use or disclosure; and
        %li Where required or authorised by law
      %h3 Security of Personal Information
      %p Your Personal Information is stored in a manner that reasonably protects it from misuse and loss and from unauthorized access, modification or disclosure.
      %p
        When your Personal Information is no longer needed for the purpose for which it was obtained, we
        will take reasonable steps to destroy or permanently de-identify your Personal Information.
      %p However, most of the Personal Information is or will be stored in client files which will be kept by us for a minimum of 7 years.
      %h3 Access to your Personal Information
      %p
        You may access the Personal Information we hold about you and to update and/or correct it, subject
        to certain exceptions. If you wish to access your Personal Information, please contact us in writing.
      %p
        %strong Betbuilder PTY LTD
        will not charge any fee for your access request, but may charge an
        administrative fee for providing a copy of your Personal Information.
      %p In order to protect your Personal Information we may require identification from you before releasing the requested information.
      %h3 Maintaining the Quality of your Personal Information
      %p
        It is an important to us that your Personal Information is up to date. We will take reasonable steps
        to make sure that your Personal Information is accurate, complete and up-to-date. If you find that
        the information we have is not up to date or is inaccurate, please advise us as soon as practicable so
        we can update our records and ensure we can continue to provide quality services to you.
      %h3 Policy Updates
      %p This Policy may change from time to time and is available on our website.
      %h3 Privacy Policy Complaints and Enquiries
      %p
        If you have any queries or complaints about our Privacy Policy please contact us at:
        =mail_to('paul_gradwell@outlook.com')
