.container.themed-content
  .row
    .col-lg-12{style:'padding-top:50px;'}
      %h3 Terms and Conditions:
      %p Upon sign up to a Betbuilder account you accept all the below terms and conditions of use:
      %p Reference to "Betbuilder" refers to all employees and representatives of the Betbuilder brand.
      %p Reference to "Tools" means any calculator, builder, selector or instrument provided by our web service.
      %p Reference to "user" is any customer, client, account holder or visitor to the web service.
      %p Reference to "Service" means the top 4 selections and tools provided to users.
      %ol
        %li You, the user, understand that by opening an account with Betbuilder you accept these Terms and Conditions and are bound by these Terms and Conditions.
        %li You understand that Betbuilder takes no responsibly or liability for the service provided, the user accepts all responsibility.
        %li Your email address and State of address must be current and up to date, failure to update either of these will result in de-activation of your account.
        %li
          You, the user, agree to have your state location tracked and stored. Betbuilder will not share this data with any third party other than to provide promotional offers to specific users as
          per NSW and Australian publication of gambling advertising guidelines.
        %li Only 1 email address and account can be held at a time per user.
        %li Your email address will not be provided to any third-party for any purpose.