.container.themed-content
  .row
    .col-lg-12{style:'padding-top:50px;'}
      %h3 Welcome to Betbuilder!
      %p
        We provide a web-service with top 4 selections for every TAB race in Australia updated at 8:30am, daily.
        %br
        Our tips are based on complicated calculations which include:
      %ul
        %li Margin and margin averages
        %li Win rates
        %li Track bias and In run history
        %li Barrier win rates
        %li Trainer and jockey win rates
        %li Class ratings
        %li Metro vs country ratings for races
        %li Weights and claims
      %p We do not use price in the current market or international form in our selection calculation.
      %p We have designed this page to provide to you, the punter, with an objective tipping service plus added toolbox to sharpen your Horseracing betting experience. We have used data science methods to rank and sort the horseracing fields based on track specific statistics measured based on a number of key variables. Sounds complicated (it is!), but this is our mission.
      %p
        First and foremost, before you proceed, you must understand that there is some very simple math, probability, that highlights if you continue to bet against the bookmaker daily – you will succumb to the fate of “gamblers ruin”.
        %a{href:'https://en.wikipedia.org/wiki/Gambler%27s_ruin',target:'_blank'} Gamblers ruin
        is a statistics concept that, put simply, means if the game probability is even (50/50) the player with the bigger bank account will eventually win and the smaller go broke.
      %p The key to overcoming such a dilemma is when the smaller player is given an advantage in the game by understanding the difference between the odds on offer and the probability (overlooked by the bigger bank player) and then betting accordingly.
      %p We rate and rank our top 4 selections based on statistics, minus the use of market price or sentiment. What this means is the information is
      %ol
        %li Consistent - Measured with the same ruler each time
        %li Objective – Without the weight of one ‘form experts’ opinion
      %p By using our service, what can you hope to achieve and how should you use it?
      %ol
        %li You MUST take this gamblers ruin theory into consideration. If you bet every race every day and go head to head with the bookmakers, you will lose and go broke.
        %li If you blow your bank for the day and the deposit more to try and return you to ‘whole’ you will inevitably suffer a similar fate.
        %li You must review each race on the day and select target races for your betting focus, then decide on the strategy to use to best advantage you to return your investment AND decide on the amount to place on each of the bets.
      %p With those three golden rules you will best position yourself to make positive returns at the track and turn your experience into an enjoyable and exhilarating one.
      %p We at Betbuilder are working daily to tighten our calculations + add extra tools for you to use + adopting machine learning algorithms for a betting strategies that compliment the above principles. IF this sounds like your cup of tea – please enjoy our service and all the work that has gone into it.
      %p Thank you,
      %p Betbuilder Team
