.correct_guessed_horse {
  font-weight: bold;
  color: green;
};

.incorrect_guessed_horse {
  font-weight: bold;
  color: red;
};

.correct_guessed_bet {
  background-color: lightgray;
};

.calendar-outer {
  margin: 20px;
};