.infoDoughnut {
  width: 64px;
  height: 48px;
};

.infoHistoryLine {
  width:200px;
  height:100px;
};

.doughnutCenter {
  position: absolute;
  margin-top: 15px;
  margin-left: 20px;
  color: #0056b3;
  font-weight: bold;
  font-size: 12px;
};
