.pull-right {
  float: right;
}
.mt-10 {
  margin-top: 10px;
}
.hide{
  display: none;
}
.pointer{
  cursor: pointer;
}
.post-box {
  background: #efecec;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #c5bdbd;
}
.comment-image {
  max-height: 200px;
}
.post-image {
  margin-bottom: 15px;
  max-height: 350px;
}
.post_comment_form {
  position: relative;
}
