%script{:src => "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js", :type => "text/javascript"}
%section.magic-ball
  .ball-img
    .ball-text 8
    = image_tag "ball-img.png"
    %h3
      %span#magicBallField
        Gawler
        %br>/
        R3 No 10
