.container.themed-content-special
  .row
    .col-lg-12
      %h3 Select time to test magic eightball
      .row{style:'min-height:500px;'}
        .col-lg-6
          %div{style:'padding:10px;'}
            #eightballDateTimePicker{style:'height:30px;'}
            #eightballOutput
        .col-lg-6
          #eightballSelectionDTP